html :has(#main.midnight_spark) {
  --accent:#9ad6df;
  --button-alt-text:#30403b;
  --list-background:#234f9e;
  --node-background:#144db8;
  --node-text:#8bdfc7;
  --node-title:#8bdfc7;
  --node-title-background:#0f3c91;
  --slider-0:#e9f321;
  --slider-1:#EF3054;
  --window-background:#26385a;
  --window-background-alt:#2f6657;
  --window-text:#8bdfc7
  }
  
  html :has(#main.turnroot) {
  --accent:#64b5c1;
  --button-alt-text:#cdc9b5;
  --list-background:#43a188;
  --node-background:#43a188;
  --node-text:#f8f5da;
  --node-title:#f8f5da;
  --node-title-background:#79a38e;
  --slider-0:#78f0bc;
  --slider-1:#9c9a39;
  --window-background:#5b6067;
  --window-background-alt:#4c5157;
  --window-text:#f8f5Da
  }
  
  html :has(#main.charcoal) {
  --accent:#ffa754;
  --button-alt-text:#959595;
  --list-background:#545454;
  --node-background:#323232;
  --node-text:#d0d0d0;
  --node-title:#fff;
  --node-title-background:#494949;
  --slider-0:#5a82d1;
  --slider-1:#D95F80;
  --window-background:#272727;
  --window-background-alt:#111;
  --window-text:#c4c4c4
  }
  
  html :has(#main.ocean_waves) {
  --accent:#78ffe8;
  --button-alt-text:#7AA6CD;
  --list-background:#394159;
  --node-background:#dd273d52;
  --node-text:#b6cfe6;
  --node-title:#fff;
  --node-title-background:#ff202e3b;
  --slider-0:#5FE3E3;
  --slider-1:#768ba5;
  --window-background:#394159;
  --window-background-alt:#568EBF;
  --window-text:#DCEEF2
  }
  
  html :has(#main.chocolate) {
  --accent:#F9C27E;
  --button-alt-text:#694746;
  --list-background:#733A2D;
  --node-background:#512C2A;
  --node-text:#FBF4EB;
  --node-title:#DB8C50;
  --node-title-background:#59302C;
  --slider-0:#943F5F;
  --slider-1:#EF965E;
  --window-background:#391c16;
  --window-background-alt:#5c2e24;
  --window-text:#DB8C50
  }
  
  html :has(#main.charcoal_blue),html :has(#main.charcoal_green) {
  --button-alt-text:#959595;
  --node-background:#323232;
  --node-text:#d0d0d0;
  --node-title:#fff;
  --node-title-background:#494949;
  --window-background:#232323;
  --window-background-alt:#111;
  --window-text:#c4c4c4
  }
  
  html :has(#main.charcoal_blue) {
  --accent:#009EFF;
  --list-background:#5a82d1;
  --slider-0:#D95F80;
  --slider-1:#5a82d1
  }
  
  html :has(#main.charcoal_green) {
  --accent:#6ee98b;
  --list-background:#4bb771;
  --slider-0:#c9dd45;
  --slider-1:#59be68
  }
  
  .w2ui-sidebar {
  background-color:var(--window-background-alt)
  }
  
  .w2ui-panel .w2ui-panel .w2ui-sidebar {
  background-color:color-mix(in srgb,var(--window-background-alt) 85%,var(--window-background))
  }
  
  *,::after,::before {
  transition:background-color,color,background .25s
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-node .w2ui-node-text {
  color:var(--node-title)
  }
  
  .hidden-until-hover-wrapper,.w2ui-sidebar .w2ui-sidebar-body .w2ui-node .w2ui-node-text:hover {
  color:inherit;
  cursor:pointer
  }
  
  .w2ui-disabled,.w2ui-disabled .w2ui-node-data,.w2ui-disabled .w2ui-node-data:hover,.w2ui-disabled .w2ui-node-text,.w2ui-disabled .w2ui-node-text:hover,.w2ui-disabled:hover {
  cursor:not-allowed!important
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-node:hover {
  background-color:var(--button-alt-text)
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-node-group,.w2ui-sidebar .w2ui-sidebar-body .w2ui-node.w2ui-disabled,.w2ui-sidebar .w2ui-sidebar-body .w2ui-node.w2ui-disabled:hover {
  background:0 0
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-node.w2ui-disabled .w2ui-node-image,.w2ui-sidebar .w2ui-sidebar-body .w2ui-node.w2ui-disabled .w2ui-node-image>span,.w2ui-sidebar .w2ui-sidebar-body .w2ui-node.w2ui-disabled .w2ui-node-text,.w2ui-sidebar .w2ui-sidebar-body .w2ui-node.w2ui-disabled:hover .w2ui-node-image,.w2ui-sidebar .w2ui-sidebar-body .w2ui-node.w2ui-disabled:hover .w2ui-node-image>span,.w2ui-sidebar .w2ui-sidebar-body .w2ui-node.w2ui-disabled:hover .w2ui-node-text {
  opacity:.4
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-selected,.w2ui-sidebar .w2ui-sidebar-body .w2ui-selected:hover {
  background-color:color-mix(in srgb,var(--button-alt-text) 80%,var(--accent))
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-node-group :nth-child(1) {
  color:transparent
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-node-group :nth-child(2) {
  font-weight:400;
  text-transform:uppercase
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-node-sub {
  overflow:hidden
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-node-badge {
  z-index:2
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-node-data .w2ui-node-badge.w2ui-node-count {
  background-color:color-mix(in srgb,var(--button-alt-text) 60%,var(--accent));
  border-radius:99rem;
  cursor:default;
  margin-right:var(--spacing-2);
  margin-top:var(--spacing-2)
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-selected .w2ui-node-badge.w2ui-node-count {
  background-color:color-mix(in srgb,var(--slider-1) 50%,var(--accent))
  }
  
  .w2ui-sidebar-body .w2ui-node-image {
  margin-right:var(--spacing-02);
  margin-top:var(--spacing-01)
  }
  
  .w2ui-node-flat .w2ui-node-image {
  margin-left:var(--spacing-01)
  }
  
  .w2ui-panel {
  background-color:var(--window-background)
  }
  
  .w2ui-sidebar .w2ui-sidebar-body .w2ui-node-group,.w2ui-toolbar,.w2ui-toolbar-input {
  color:var(--node-text)
  }
  
  .w2ui-overlay,.w2ui-panel,.w2ui-sidebar {
  color:var(--window-text)
  }
  
  .w2ui-overlay {
  background-color:color-mix(in srgb,var(--window-background) 50%,var(--window-background-alt));
  z-index:55
  }
  
  .w2ui-overlay:has(.w2ui-arrow-bottom) {
  border-radius:0 0 var(--spacing-01) var(--spacing-01);
  margin-top:-12px
  }
  
  .w2ui-overlay:has(.w2ui-arrow-top) {
  border-radius:var(--spacing-01) var(--spacing-01)0 0;
  margin-top:3px
  }
  
  .w2ui-overlay:has(.w2ui-arrow-left) {
  border-radius:var(--spacing-01)0 0 var(--spacing-01)
  }
  
  .w2ui-overlay:has(.w2ui-arrow-right) {
  border-radius:0 var(--spacing-01) var(--spacing-01)0
  }
  
  .menu-text,.w2ui-input-label,.w2ui-overlay,.w2ui-tb-text,.w2ui-toolbar .w2ui-input-label,.w2ui-toolbar .w2ui-toolbar-input {
  cursor:default;
  font-size:.8rem
  }
  
  .report-issue,.report-issue *,.w2ui-tb-button:not(.status-bar) .w2ui-tb-icon,.w2ui-tb-button:not(.status-bar) .w2ui-tb-text {
  cursor:pointer!important
  }
  
  .w2ui-tb-button {
  align-items:center;
  display:flex;
  height:100%;
  justify-content:center
  }
  
  .w2ui-tb-button .w2ui-tb-icon {
  margin:0!important;
  width:unset!important
  }
  
  .w2ui-tb-button:hover {
  background-color:color-mix(in srgb,var(--window-background) 60%,var(--window-background-alt))
  }
  
  .w2ui-menu-item:hover {
  background-color:color-mix(in srgb,var(--window-background) 30%,var(--window-background-alt))
  }
  
  .w2ui-tb-check .w2ui-tb-text::before {
  border:2px solid var(--window-background-alt);
  border-radius:.125rem;
  content:"";
  display:inline-block;
  height:var(--spacing-3);
  width:var(--spacing-3)
  }
  
  .w2ui-tb-check.radio .w2ui-tb-text::before {
  border-radius:99rem
  }
  
  .w2ui-tb-check.checked .w2ui-tb-text::before {
  background-color:var(--accent);
  border:2px solid var(--accent)
  }
  
  .w2ui-tb-break {
  border-right:2px solid var(--window-background);
  height:75%
  }
  
  .report-issue,.status-bar,.status-bar .w2ui-tb-text,.status-bar:hover {
  background-color:transparent;
  padding:0!important
  }
  
  .report-issue,.status-bar .w2ui-tb-text {
  margin-top:-.75rem
  }
  
  .report-issue:hover {
  color:var(--accent);
  cursor:pointer
  }
  
  .w2ui-toolbar-input {
  background-color:color-mix(in srgb,var(--window-background) 60%,var(--window-background-alt));
  border:0;
  border-radius:var(--spacing-01);
  margin-left:var(--spacing-01)!important;
  outline:0
  }
  
  .w2ui-toolbar-input:hover {
  background-color:color-mix(in srgb,var(--window-background) 40%,var(--window-background-alt))
  }
  
  .li-search input,.w2ui-form input:not([type=radio]).w2ui-input,.w2ui-form textarea {
  accent-color:var(--accent);
  background-color:var(--window-background-alt);
  border:0;
  border-radius:.25rem;
  color:var(--window-text);
  outline:0
  }
  
  .w2ui-form textarea {
  flex-grow:2
  }
  
  .w2ui-form input:not([type=radio]).w2ui-input:focus,.w2ui-form select:focus,.w2ui-form textarea:focus {
  background-color:color-mix(in srgb,var(--list-background) 40%,var(--window-background-alt));
  color:(--node-title)
  }
  
  .w2ui-form input[type=radio].w2ui-input {
  accent-color:var(--accent)
  }
  
  .w2ui-btn,.w2ui-form select {
  appearance:none;
  background-color:var(--window-background-alt);
  border:0;
  border-radius:.25rem;
  color:var(--node-title)
  }
  
  .w2ui-field>div {
  align-items:center;
  display:flex;
  flex-direction:row-reverse;
  flex-wrap:wrap;
  gap:10px
  }
  
  .w2ui-field>label {
  align-items:center;
  display:flex;
  justify-content:center;
  width:fit-content!important
  }
  
  .w2ui-btn {
  background-color:var(--node-background);
  color:var(--node-text);
  outline:0
  }
  
  .w2ui-btn.slider1 {
  background-color:var(--slider-1)!important
  }
  
  .w2ui-btn:hover {
  background-color:color-mix(in srgb,var(--node-background) 80%,var(--slider-1));
  cursor:pointer
  }
  
  .w2ui-column-container {
  flex-wrap:wrap;
  justify-content:space-between
  }
  
  .w2ui-column-container .w2ui-column {
  padding:2rem!important;
  width:max-content!important
  }
  
  .w2ui-column-container .w2ui-column:not(:last-child) {
  border-right:1px solid var(--window-background-alt)
  }
  
  .w2ui-column-container:has(.col-1):not(:has(.col-2)) .col-0,.w2ui-column-container:has(.col-1):not(:has(.col-2)) .col-1 {
  width:50%!important
  }
  
  .w2ui-message {
  background-color:var(--window-background-alt);
  border-radius:.25rem;
  color:var(--window-text);
  left:1vw!important;
  padding:3rem;
  top:1vw!important
  }
  
  .w2ui-message-buttons {
  display:flex;
  gap:1rem;
  justify-content:center
  }
  
  .w2ui-lock {
  background-color:#00000080;
  z-index:1380
  }
  
  input[type=color],input[type=color]:active,input[type=color]:focus,input[type=color]:hover {
  appearance:none;
  border:0;
  border-radius:.25rem;
  height:2rem!important;
  outline:0;
  padding:0!important;
  width:4rem!important
  }
  
  .w2ui-tb-check.checked,.w2ui-toolbar {
  background-color:color-mix(in srgb,var(--window-background) 80%,var(--window-background-alt))
  }
  
  .w2ui-panel .w2ui-panel .w2ui-toolbar,.w2ui-tb-button.checked {
  background-color:color-mix(in srgb,var(--window-background) 50%,var(--window-background-alt))
  }
  
  .panel-tabs.checked {
  background-color:var(--accent)
  }
  
  .panel-tabs:hover {
  background-color:color-mix(in srgb,color-mix(in srgb,var(--window-background) 50%,var(--window-background-alt)) 50%,var(--accent))
  }
  
  .panel-tabs:not(.checked) {
  background-color:color-mix(in srgb,var(--window-background) 10%,var(--window-background-alt))
  }
  
  .panel-tabs {
  border-top-left-radius:.25rem;
  border-top-right-radius:.25rem
  }
  
  .li-search input {
  width:95%!important
  }
  
  .w2ui-list-remove::before {
  color:var(--button-alt-text);
  content:"x";
  cursor:pointer;
  font-size:1rem
  }
  
  .w2ui-list-remove:hover::before {
  color:var(--accent)
  }
  
  .w2ui-field small {
  display:inline-block;
  max-width:65ch
  }
  
  .w2ui-group:has(.group-flex) .w2ui-group-fields {
  display:flex;
  justify-content:space-around
  }
  
  .w2ui-group-fields {
  margin:0!important;
  padding:0!important
  }
  
  .w2ui-group-fields label {
  width:min-content!important
  }
  
  .li-search,.w2ui-field {
  display:flex
  }
  
  .w2ui-field:has(:not([type=checkbox]).no-label)>label,.w2ui-group:has(.group-flex) .w2ui-group-title,label:has(input.no-label) span {
  display:none!important
  }