<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Turnroot Editor - Login</title>
        <link rel="stylesheet" href="./style/fonts/fira-sans/fira.css">
        <link rel="stylesheet" href="./style/fonts/lexend/lexend.css">
        <link rel="stylesheet" href="./style/fonts/clearsans/clear-sans.css">
        <link rel="stylesheet" href="./style/fonts/figtree/figtree.css">
        <link rel="stylesheet" type="text/css" href="./style/themes.css">
        <link rel="stylesheet" type="text/css" href="./style/w2ui3.css">
        <link rel="stylesheet" type="text/css" href="./style/style.css">
        <link rel="stylesheet" type="text/css" href="./style/w2theming.css">
        <link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">
    
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="apple-mobile-web-app-title" content="Turnroot Editor">
        <meta name="application-name" content="Turnroot Editor">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="Turnroot Editor">
        <meta name="description" content="Turnroot Editor - create the tactical turn-based RPG of your dreams in the powerful no-code editor.">
        <meta name="keywords" content="turnroot, editor, rpg, game, tactical, turn-based, no-code, game development, game design, game maker, game creator, game engine, game editor, game builder, game development software, game design software, game maker software, game creator software, game engine software, game editor software, game builder software, ttrpg, tactical turn-based RPG creator, ttrpg maker, ttrpg creator">
        <meta name="author" content="Turnroot">
        <meta property="og:title" content="Turnroot Editor">
        <meta property="og:description" content="Turnroot Editor - create the tactical turn-based RPG of your dreams in the powerful no-code editor.">
        <meta property="og:image" content="/logo.png">
        <meta property="og:url" content="https://editor.turnroot.com">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Turnroot Editor">
        <meta property="og:locale" content="en_US">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Turnroot Editor">
        <meta name="twitter:description" content="Turnroot Editor - create the tactical turn-based RPG of your dreams in the powerful no-code editor.">
        <meta name="twitter:image" content="/logo.png">
        <meta name="twitter:image:alt" content="Turnroot Editor Logo">
    
    </head>
<body>
    <form action="/login" method="post" style="display:block;" id = "login">
        <input type="text" name="username" placeholder="Username or email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
        <a href="/login?register=true">Register</a>
    </form>
    
    
    <form action="/register" method="post" style = "display:none;" id = "register">
        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Register</button>
        <a href="/login">Login</a>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function getQueryParam(param) {
                const urlParams = new URLSearchParams(window.location.search)
                return urlParams.get(param)
            }
            const errorMessage = getQueryParam('error')
            if (errorMessage) {
                const errorDiv = document.createElement('div')
                errorDiv.textContent = decodeURIComponent(errorMessage)
                errorDiv.style.color = 'red'; // Style the error message
                document.body.insertBefore(errorDiv, document.body.firstChild)
            }
            const register = getQueryParam('register')
            if (register) {
                document.getElementById('login').style.display = 'none'
                document.getElementById('register').style.display = 'block'
            }
        })
        </script>
</body>
</html>

