<!DOCTYPE html>
<html>

<head>
    <title>Turnroot Editor</title>
    <link rel="stylesheet" href="./style/fonts/fira-sans/fira.css">
    <link rel="stylesheet" href="./style/fonts/lexend/lexend.css">
    <link rel="stylesheet" href="./style/fonts/clearsans/clear-sans.css">
    <link rel="stylesheet" href="./style/fonts/figtree/figtree.css">
    <link rel="stylesheet" href="./style/fonts/atkinson-hyperlegible/atkinson-hyperlegible.css">
    <link rel="stylesheet" type="text/css" href="./style/themes.css">
    <link rel="stylesheet" type="text/css" href="./style/w2ui3.css">
    <link rel="stylesheet" type="text/css" href="./style/style.css">
    <link rel="stylesheet" type="text/css" href="./style/w2theming.css">
    <link rel="stylesheet" type="text/css" href="./style/balloon.min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Turnroot Editor">
    <meta name="application-name" content="Turnroot Editor">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Turnroot Editor">
    <meta name="description" content="Turnroot Editor - create the tactical turn-based RPG of your dreams in the powerful no-code editor.">
    <meta name="keywords" content="turnroot, editor, rpg, game, tactical, turn-based, no-code, game development, game design, game maker, game creator, game engine, game editor, game builder, game development software, game design software, game maker software, game creator software, game engine software, game editor software, game builder software, ttrpg, tactical turn-based RPG creator, ttrpg maker, ttrpg creator">
    <meta name="author" content="Turnroot">
    <meta property="og:title" content="Turnroot Editor">
    <meta property="og:description" content="Turnroot Editor - create the tactical turn-based RPG of your dreams in the powerful no-code editor.">
    <meta property="og:image" content="/logo.png">
    <meta property="og:url" content="https://editor.turnroot.com">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Turnroot Editor">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Turnroot Editor">
    <meta name="twitter:description" content="Turnroot Editor - create the tactical turn-based RPG of your dreams in the powerful no-code editor.">
    <meta name="twitter:image" content="/logo.png">
    <meta name="twitter:image:alt" content="Turnroot Editor Logo">

</head>

<body>
    <div style="visibility:hidden;font-size:0px">Turnroot Editor - create the tactical turn-based RPG of your dreams in the powerful no-code editor</div>

    <noscript>
        <div id="js-support">
            <p>This page needs JavaScript to run. Please turn on JavaScript and refresh the page.</p>
        </div>
    </noscript>
    
    <div id="css-support" style="display: none">
        <p>This browser is not supported. Please upgrade to a modern browser that can support the :has CSS selector.
            See: <a style='text-decoration: none; color: var(--accent); font-weight:bold;'
                href="https://caniuse.com/?search=%3Ahas()">Can I Use</a></p>
    </div>

    <div id="mobile-support" style="display: none">
        <p>Turnroot Editor does not work well on phones- you'll need to use a desktop computer, laptop, or tablet.</p>
    </div>

    <div id="main" class="turnroot" style="width: 100%;height:100vh;min-width:1100px;"></div>

    <script>
        let logs = []
        window.turnrootEditorLogs = logs
        let font = sessionStorage.getItem('font-family')
        if (font) {
            document.documentElement.style.setProperty('--font-family', font)
        } else {
            document.documentElement.style.setProperty('--font-family', 'Fira Sans')
        }
    </script>
    <script type="module">
        let body = document.querySelector('body')
        let loading = document.createElement('div')
        loading.style.position = 'fixed'
        loading.id = 'loading'
        loading.style.top = '0'
        loading.style.left = '0'
        loading.style.width = '100%'
        loading.style.height = '100%'
        loading.style.backgroundColor = 'rgba(0,0,0,.5)'
        loading.style.display = 'flex'
        loading.style.justifyContent = 'center'
        loading.style.alignItems = 'center'

        let tip = document.createElement('div')
        tip.style.backgroundColor = 'white'
        tip.style.color = 'black'
        tip.style.padding = '1rem'
        tip.style.borderRadius = '.5rem'
        tip.innerHTML = 'Loading...'

        body.appendChild(loading)
        loading.appendChild(tip)
        let scriptTag = document.createElement('script')
        scriptTag.src = './bundle.js'
        scriptTag.type = 'module'
        document.body.appendChild(scriptTag)
        scriptTag.onload = function() {
            loading.style.display = 'none'


    let config = {
        layout: {
            name: 'EditorWindowLayout',
            padding: 0,
            panels: [
                {type: 'top', size: 32, resizable: false, content: 'top', overflow: 'hidden'},
                {type: 'bottom', size: '16', resizable: false, content: 'bottom', overflow: 'hidden'},
                { type: 'left', size: '12%', resizable: false, minSize: '36' },
                { type: 'main', overflow: 'hidden' }
            ]
        }
    }

    let layout = new w2layout(config.layout)
    let sidebar = EditorWindowSidebar
    let topmenu = EditorWindowTopMenu
    let statusbar = EditorWindowStatusBar
    let mainwindow = EditorWindow
    
    window.EditorWindowSidebar = EditorWindowSidebar
    window.MainEditorWindow = layout
    window.EditorWindow = mainwindow
    window.EditorWindowTopMenu = topmenu
    window.EditorWindowStatusBar = statusbar

    layout.render('#main')

    layout.html('main', DefaultStart)
    layout.html('left', sidebar)
    layout.html('top', topmenu)
    layout.html('bottom', statusbar)


    setInterval(function() {
        console.log('Auto-saving...')
        if (editsQueue && editsQueue.queue && editsQueue.queue.length > 0) {
            window.sendQueue()
            console.log('Auto-save complete.')
        } else {
            console.log('No changes to save.')
        }
    }, 12000)

    document.addEventListener('keydown', function(event) {
        if (window.activeEditor && window.activeEditor === 'battlefield-editor'){
            if (event.altKey){
                window.window.BattlefieldEditorLayers.tilesetsDiv.style.display = 'none'
            }
            if (event.key === 'x'){
                window.BattlefieldEditorTileInfo = {}
                let divs = window.BattlefieldEditorTilesetsLayoutTileContainer.querySelectorAll('div')
                divs.forEach(d => {
                    d.style.opacity = 1
                    d.active = false
                    d.style.border = 'none'
                })
            }
        }
        if ((event.ctrlKey || event.metaKey) && event.key === 's') {
            event.preventDefault()
            window.sendQueue()
            console.log('Save scheduled')
        } else if ((event.ctrlKey || event.metaKey) && event.key === 'r') {
            event.preventDefault()
            w2alert('Refreshing is disabled to prevent data loss. The Turnroot Editor refreshes automatically, you don\'t need to refresh the page.', 'Refresh Disabled')
        } else if (event.ctrlKey || event.metaKey) {
            if (event.shiftKey){
                event.preventDefault()
                if (event.key === 'g'){
                    window.EditorWindowSidebar.click('sidebar-editors-game-editor')
                } else if (event.key === 'u'){
                    window.EditorWindowSidebar.click('sidebar-editors-unit-editor')
                } else if (event.key === 'c'){
                    window.EditorWindowSidebar.click('sidebar-editors-class-editor')
                } else if (event.key === 'o'){
                    window.EditorWindowSidebar.click('sidebar-editors-object-editor')
                }
            } 
        }
    })}

    document.addEventListener('keyup', function(event) {
        if (window.activeEditor && window.activeEditor === 'battlefield-editor'){
            if (event.key === 'Alt'){
                window.window.BattlefieldEditorLayers.tilesetsDiv.style.display = 'block'
            }
        }
    })
    
</script>

</body>

</html>